<div class="SignIn">
  <%= render partial: 'shared/page_top', locals: {main: "Account", sub: "アカウント情報の変更"} %>
  <div class="c-container">
    <div class="Breadcrumbs">
      <%= link_to 'TOP', '/' %>
      <span class="--arrow">></span>
      <span class="--now">アカウント情報の変更</span>
    </div>
  </div>

  <div class="c-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="SignIn__field">
        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="SignIn__field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="SignIn__field">
        <div class="SignIn__label-wrapper">
          <%= f.label :password %>
          <span>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</span>
          <% if @minimum_password_length %>
            <span><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></span>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="SignIn__field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="SignIn__field">
        <div class="SignIn__label-wrapper">
          <%= f.label :current_password %>
          <span>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</span>
        </div>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "--password" %>
      </div>

      <div class="SignIn__submit">
        <%= f.submit t('.update') %>
      </div>
    <% end %>

    <div class="SignIn__guide">
      <div class="SignIn__guide-border">
        <p><%= t('.cancel_my_account') %>したい方はこちら</p>
      </div>
    </div>

    <div class="SignIn__submit">
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "--delete" %>
    </div>

    <%= link_to t('devise.shared.links.back'), :back %>
  </div>
</div>
