<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title"><%= t('.sign_up') %></div>
    </div>
    <div class="content-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <table>
          <tbody>
            <tr>
              <th>
                <%= f.label :name, "ユーザーネーム" %>
              </th>   
              <td>
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :email %>
              </th>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                <% end %>
              </th>
              <td>
                <%= f.password_field :password, autocomplete: "new-password", class: "field-field" %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :password_confirmation, class: "field-label" %>
              </th>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-field" %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="actions">
          <%= f.submit t('.sign_up') %>
        </div>
      <% end %>

      <%=  render "devise/shared/links" %>
    </div>
  </div>
</div>