<%= form_with model: [task, read], local: true do |f| %>
  <div>
    <%= f.label :read_on %>
    <%= f.date_field :read_on %>
  </div>
  <div>
    <%= f.label :read_page %>
    <%= f.text_field :read_page %>
  </div>
  <%= f.submit button_value %>
<% end %>