<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title">タスク一覧</div>
    </div>
    <div class="content-body">
      <% @tasks.zip(@progress_data) do |task, data| %>
        <div class="task">
          <div class="task-image">
            <%= render partial: 'books/image_link', locals: { image_link: task.book.image_link } %>
          </div>
          <div class="task-detail">
            <div class="task-detail-title"><%= task.book.title %></div>
            <div>今日の目標ページ数：<%= data[:daily_goal_pages] %>ページ </div>
            <div>目標日：<%= task.finished_on %></div>
            <div>
              <%= form_with(url: task_path(task.id), method: :get, local: true) do |f| %>
                <%= hidden_field_tag :data, data.to_json %>
                <%= f.submit "詳細" %>
              <% end %>
              <%= link_to "進捗登録", new_task_read_path(task) %>
            </div>
            <%= render 'percentage', percentage: data[:percentage] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>