<div class="task-wrapper">
  <div class="side-wrapper">
    <%= render 'side' %>
  </div>
  <div class="main-wrapper-task">
    <div class="content-with-header">
      <div class="content-header">
        <div class="header-title">タスク一覧</div>
      </div>
      <div class="content-body">
        <% @tasks.zip(@progress_data) do |task, data| %>
          <div class="task">
            <div class="task-image">
              <%= render partial: 'books/image_link', locals: { image_link: task.book.image_link } %>
            </div>
            <div class="task-detail">
              <div class="task-detail-title"><%= task.book.title %></div>
              <div class="task-detail-today-page-number">
                <div class="number-title"><i class="fa fa-book" aria-hidden="true"></i>今日の目標</div>
                <div class="number-item"><%= data[:today_page_number] %>頁まで</div>
              </div>
              <div class="task-detail-today-page">今日読むページ数：<%= data[:daily_goal_pages] %>ページ</div>
              <div class="task-detail-finish-date">目標日：<%= task.finished_on.strftime("%-m月%-d日") %></div>
              <div>
                <%= link_to "詳細", task %>
                <%= link_to "進捗登録", new_task_read_path(task) %>
              </div>
              <%= render 'percentage', percentage: data[:percentage] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>