<div class="TaskIndex">
  <%= render 'shared/page_top', main: "All", sub: "目標の一覧" %>
  <div class="c-container">
    <div class="Breadcrumbs">
      <%= link_to 'TOP', '/' %>
      <span class="--arrow">></span>
      <span class="--now">目標の一覧</span>
    </div>
  </div>

  <div class="c-container">
    <%= render 'task_nav' %>

    <div class="TaskIndex__wrapper  --first">
      <div class="TaskIndex__calendar">
        <h2>HISTORY</h2>
        <div id="calendar">
          <%= render "calendar", reads: @reads %>
        </div>
      </div>
      <div class="TaskIndex__table">
        <%= render "history_table", month_data: @month_data[:this_month], month_name: "今月" %>
        <%= render "history_table", month_data: @month_data[:last_month], month_name: "先月" %>
      </div>
    </div>

    <div class="TaskIndex__wrapper --second">
      <% @tasks.zip(@tasks_percentage) do |task, data| %>
        <div class="TaskIndexCard">
          <%= link_to(task) do %>
            <div class="TaskIndexCard__title"><%= task.book.title %></div>
            <div class="TaskIndexCard__wrapper">
              <div class="TaskIndexCard__content">
                <div class="TaskIndexCard__data">
                  <div class="TaskIndexCard__book-image">
                    <%= render 'books/book_image', image_link: task.book.image_link %>
                  </div>
                  <div class="TaskIndexCard__finished-on">
                    <span class="label">目標日</span>
                    <span><%= task.finished_on.strftime("%-m月%-d日") %></span>
                  </div>
                </div>
              </div>
              <%= pie_chart data, width: "10rem", height: "10rem", library: {title: {text: "#{data[:read]}%", style:{fontSize: "1.5em"} }} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
