<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title">タスク一覧</div>
    </div>
    <div class="content-body">
      <%= current_user.name.present? ? "#{current_user.name}さん" : "ユーザーNo.#{current_user.id}さん" %>
      <% @tasks.zip(@progress_data) do |task, data| %>
        <div>
          <%= render partial: 'books/image_link', locals: { image_link: task.book.image_link } %>
        </div>
        <div><%= task.book.title %></div>
        <div><%= task.finished_on %></div>
        <div>
          <%= link_to "詳細", task %>
          <%= link_to "進捗登録", new_task_read_path(task) %>
        </div>
        <div class="progress mb-3" style="height: 26px; width: 500px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width:<%= data[:percentage] %>%; background-color:blue" aria-valuenow="<%= data[:percentage] %>" aria-valuemin="0" aria-valuemax="100">
            <%= data[:percentage] %>%
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>