<h1>Tasks#new</h1>

<p><%= @book.title %></p>

<%= form_with model: @task, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= hidden_field_tag :book_id, @book.id %>
  <div>
    <%= f.label :started_on %>
    <%= f.date_field :started_on, id: "started_on" %>
  </div>
  <div>
    <%= f.label :finished_on %>
    <%= f.date_field :finished_on, id: "finished_on" %>
  </div>
  <%= f.submit "登録" %>
<% end %>
<div>
  日数：<span id="days"></span>
</div>
<div>
  1日あたりのページ数：<span id="page", data-page-id="<%= @book.page_count %>"</span>
</div>
