<div class="TaskNew">
  <%= render partial: 'shared/page_top', locals: {main: "Task", sub: "目標を設定しましょう。"} %>
  <%= render 'shared/breadcrumbs' %>

  <div class="c-container">
    <%= render partial: 'shared/page_bar', locals: {var: "", text: "開始日と終了日を設定"} %>

    <%= form_with model: @task, local: true do |f| %>
      <section class="TaskNewForm">
        <%= render 'shared/error_messages', model: f.object %>
        <%= hidden_field_tag :book_id, @book.id %>
        <div class="TasknewForm__field">
          <%= f.label :started_on, class: "TasknewForm__field-label" %>
          <%= f.date_field :started_on, class: "TasknewForm__field-input", id: "started_on" %>
        </div>
        <div class="TasknewForm__field">
          <%= f.label :finished_on, class: "TasknewForm__field-label" %>
          <%= f.date_field :finished_on, class: "TasknewForm__field-input", id: "finished_on" %>
        </div>
      </section>

      <section class="TaskNew__result">
        <div class="TaskNew__result-title">目標</div>
        <div class="TaskNew__result-content">
          <dl>
            <dt>タイトル</dt>
            <dd><%= @book.title %></dd>
          </dl>
          <dl>
            <dt>日数</dt>
            <dd><span id="days"></span></dd>
          </dl>
          <dl>
            <dt>1日の目標ページ数</dt>
            <dd><span id="page", data-page-id="<%= @book.page_count %>"></span></dd>
          </dl>
        </div>
      </section>

      <div class="TaskNew__submit">
        <%= f.submit "登録", class: "TaskNew__submit-button" %>
      </div>
    <% end %>
  </div>
</div>
