<div class="TaskNew">
  <%= render partial: 'shared/page_top', locals: {main: "Task", sub: "目標を設定しましょう。"} %>
  <%= render 'shared/breadcrumbs' %>

  <div class="c-container">
    <%= render partial: 'shared/page_bar', locals: {var: "", text: "開始日と終了日を設定"} %>

    <%= form_with model: @task, local: true do |f| %>
      <section class="TaskNewForm">
        <%= render 'shared/error_messages', model: f.object %>
        <%= hidden_field_tag :book_id, @book.id %>
        <div class="TasknewForm__field">
          <%= f.label :started_on, class: "TasknewForm__field-label" %>
          <%= f.date_field :started_on, class: "TasknewForm__field-input", id: "started_on" %>
        </div>
        <div class="TasknewForm__field">
          <%= f.label :finished_on, class: "TasknewForm__field-label" %>
          <%= f.date_field :finished_on, class: "TasknewForm__field-input", id: "finished_on" %>
        </div>
      </section>

      <section class="TaskNew__result">
        <div class="TaskNew__result-title">
          <i class="fas fa-flag-checkered"></i>
          <span>目標</span>
        </div>
        <div class="TaskNew__result-content">
          <dl>
            <i class="fas fa-check"></i>
            <dd class="--title"><%= @book.title %></dd>
          </dl>
          <dl>
            <i class="fas fa-check"></i>
            <dt><span>読み終わる日数</span></dt>
            <dd><span id="days"></span></dd>
          </dl>
          <dl>
            <i class="fas fa-check"></i>
            <dt><span>1日のページ数</span></dt>
            <dd><span id="page", data-page-id="<%= @book.page_count %>"></span></dd>
          </dl>
        </div>
      </section>

      <div class="TaskNew__submit">
        <%= f.submit "登録", class: "TaskNew__submit-button" %>
      </div>
    <% end %>
  </div>
</div>
