<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title">タスク詳細</div>
    </div>
    <div class="content-body">
      <table class="table table-bordered table-sm">
        <tr>
          <th>本のタイトル</th>
          <td><%= @task.book.title %></td>
        </tr>
        <tr>
          <th>ページ数</th>
          <td><%= @task.book.page_count %></td>
        </tr>
        <tr>
          <th>開始日</th>
          <td><%= @task.started_on %></td>
        </tr>
        <tr>
          <th>目標日</th>
          <td><%= @task.finished_on %></td>
        </tr>
        <tr>
          <th>目標日まで</th>
          <td>あと<%= @progress_data[0][:left_days] %>日</td>
        </tr>
        <tr>
          <th>1日の目標ページ数</th>
          <td><%= @progress_data[0][:daily_goal_pages] %></td>
        </tr>
        <tr>
          <th>進捗率</th>
          <td>
            <%= @progress_data[0][:percentage] %>％
            <%= render 'percentage', percentage: @progress_data[0][:percentage] %>
          </td>
        </tr>
      </table>
      <%= link_to "編集", edit_task_path(@task) %>
      <%= link_to "削除", @task, method: :delete, data: { confirm: "削除しますか?" } %>
    </div>
  </div>
</div>

<%= render partial: "reads/index", locals: { task: @task, reads: @reads } %>