<h1>タスク詳細</h1>
<p>本のタイトル： <%= @task.book.title %></p>
<p>ページ数： <%= @task.book.page_count %></p>
<p>開始日： <%= @task.started_on %></p>
<p>終了日： <%= @task.finished_on %></p>
<p>目標日数： </p>
<p>1日の目標ページ数： </p>
<p>進捗率： </p>
<%= link_to "編集", edit_task_path(@task) %>
<%= link_to "削除", @task, method: :delete, data: { confirm: "削除しますか?" } %>

<%= render partial: "reads/index", locals: { task: @task, reads: @reads } %>