<div class="Header">
  <div class="Header__logo">
    <%= link_to image_tag('title.png'), "/" %>
  </div>

  <nav>
    <%# unless current_page?(root_path) %>
      <div class="Header__search">
        <%= render 'books/search_form' %>
      </div>
    <%# end %>
    <ul id="js-Header__list">
      <% if user_signed_in? %>
        <div class="Header__border"></div>
        <li>
          <%= link_to(today_tasks_path) do %>
            <i class="far fa-bookmark"></i>
            <span class="Header__text">TASK</span>
          <% end %>
        </li>
        <div class="Header__border"></div>
        <li>
          <%= link_to(edit_user_registration_path) do %>
            <i class="far fa-user"></i>
            <span class="Header__text">ACCOUNT</span>
          <% end %>
        </li>
        <div id="js-Header__border"></div>
      <% else %>
        <div class="Header__border"></div>
        <li>
          <%= link_to(new_user_session_path) do %>
            <i class="far fa-user"></i>
            <span class="Header__text">LOGIN</span>
          <% end %>
        </li>
        <div id="js-Header__border"></div>
      <% end %>
    </ul>

    <!-- tab以下の場合 -->
    <button class="Header__toggle" id="js-Header__toggle"></button>
    <div class="Header__wrapper">
      <div class="Header__content" id="js-Header__content"></div>
    </div>
  </nav>
</div>