<div class="Home">
  <section class="Firstview">
    <div class="Firstview__form">
      <h1 class="Firstview__form-head">
        読書を習慣に。
      </h1>
      <div class="Firstview__form-search">
        <p class="Firstview__form-sentence">
          新しいタスクを登録する
        </p>
        <%= form_with url: books_path, id: :search_form, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, id: :keyword, placeholder: "タイトル、著者名" %>
          <%= f.button type: "submit", style: "border-style: none;" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        <%= render 'books/form' %>
      </div>
    </div>

    <div class="Firstview__img">
        <%= image_tag 'top' %>
    </div>
  </section>
</div>

<div class="container">
  <div class="description">
    <div class="description__title">
      <h2 class="description__title__main">
        読みたい本に
        <br>
        <span class="orange">毎日の目標</span>を設定する。
      </h2>
    </div>
    <p class="description__text">
      読み終わりたい日を設定すると、毎日の何ページ読むか目標を決められます。
      <br>
      1冊読み終わるごとに、読書が習慣になっていきます。
    </p>
  </div>
</div>

<div class="news">
  <div class="news__top">
    <h3 class="news__title">
      <span class="news__main">NEWS</span>
      <small class="news__sub">新着</small>
    </h3>
  </div>
  <div class="news__content">
    <div class="news__container">
      <div class="news__wrapper">
        <div class="body">
          <div class="body__list">
            <ul class="group">
              <% @reads_new.each do |read| %>
                <li class="item">
                  <div class="book-image-cover">
                    <%= render partial: 'books/image_link', locals: { image_link: read.task.book.image_link } %>
                  </div>
                  <div class="detail">
                    <div class="item__detail__title">
                      <%= read.task.book.title %>
                    </div>
                    <div class="item__decontent">
                      <div class="content__date"><%= read.read_on.strftime('%-m月%-d日') %></div>
                      <div class="detail-user-name"><%= read.task.user.name %>さんが</div>
                      <div class="detail-read-page"><%= read.read_page %>ページまで</div>
                      <div>読みました！</div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
