<section class="Firstview">
  <div class="Firstview__container">
    <div class="Firstview__form">
      <h1 class="Firstview__form-head">
        読書を習慣に。
      </h1>
      <div class="Firstview__form-search">
        <p class="Firstview__form-sentence">
          新しいタスクを登録する
        </p>
        <%= form_with url: books_path, id: :search_form, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, id: :keyword, placeholder: "タイトル、著者名" %>
          <%= f.button type: "submit", style: "border-style: none;" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="Firstview__img">
      <%= image_tag 'top' %>
    </div>
  </section>

  <div class="c-container">
    <section class="Description">
      <div class="Description__title">
        <h2 class="Description__title-sentence">
          読みたい本に
          <br>
          <span class="orange">毎日の目標</span>を設定する。
        </h2>
      </div>
      <p class="Description__text">
        読み終わりたい日を設定すると、毎日の何ページ読むか目標を決められます。
        <br>
        1冊読み終わるごとに、読書が習慣になっていきます。
      </p>
    </section>
  </div>
</div>

  <section class="News">
    <div class="News__top">
      <h3 class="News__title">
        <span class="News__title --main">NEWS</span>
        <small class="News__title --sub">新着</small>
      </h3>
    </div>
    <div class="News__content">
      <div class="News__container">
        <div class="News__wrapper">
          <div class="News__list">
            <ul class="News__group">
              <% @reads_new.each do |read| %>
                <li class="News__item">
                  <%= render partial: 'books/book_image', locals: { image_link: read.task.book.image_link } %>
                  <div class="News__detail">
                    <div class="News__detail-title">
                      <%= read.task.book.title %>
                    </div>
                    <div class="News__detail-content">
                      <div class="News__detail-content --date"><%= read.read_on.strftime('%-m月%-d日') %></div>
                      <div class="News__detail-content"><%= read.task.user.name %>さんが</div>
                      <div class="News__detail-content"><%= read.read_page %>ページまで</div>
                      <div>読みました！</div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
