<div class="modal-dialog">
  <div class="modal-content">

    <div class="content-with-header">
      <div class="content-header">
        <div class="header-title">書籍の新規登録</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="content-body">
        <table class="table table-bordered table-sm">
          <tr>
            <th scope="row">タイトル</th>
            <td><%= @book.title %></td>
          </tr>
          <tr>
            <th scope="row">著者</th>
            <td><%= @book.author %></td>
          </tr>
          <tr>
            <th scope="row">ページ数</th>
            <td><%= @book.page_count %></td>
          </tr>
        </table>
        <%= image_tag @book.image_link if @book.image_link? %>
      </div>

        <% if @book.persisted? %>
          <div class="book-new-btn">
            <%= link_to(controller: :tasks, action: :new, book_id: @book.id) do %>
              <button class="btn btn-book-new-submit">登録</button>
            <% end %>
          </div>
        <% else %>
          <%= form_with model: @book, remote: true do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= f.hidden_field :title, value:@book.title %>
            <%= f.hidden_field :author, value:@book.author %>
            <%= f.hidden_field :image_link, value:@book.image_link %>
            <%= f.hidden_field :page_count, value:@book.page_count %>
            <div class="book-new-btn">
              <%= f.submit "登録", class: "btn btn-book-new-submit" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>