<div class="main-wrapper">
  <div class="content-with-header">
    <div class="content-header">
      <div class="header-title"><%= params[:keyword] %>の検索結果</div>
    </div>
    <div class="content-body">
      <div class="book-list">
        <% if @results_data %>
          <% @results_data.each_slice(4) do |results| %>
            <ul class="book-list-group">
              <% results.each do |result| %>
                <li class="group-book">
                  <%= render partial: 'book_image', locals: { image_link: result[:image_link] } %>
                  <div class="book-detail">
                    <div class="detail-title">
                      <%= link_to result[:title], controller: :books, action: :new, remote: true, title: result[:title], author: result[:author], image_link: result[:image_link], page_count: result[:page_count] %>
                    </div>
                    <div class="detail-author"><%= result[:author] %></div>
                    <dl class="detail-page-count">
                      <dt class="count-title">ページ数</dt>
                      <dd class="count-item"><%= result[:page_count] %></dd>
                    </dl>
                  </div>
                  <div class="book-submit">
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="book-new-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>