<%= form_with url: books_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit '本の題名を検索' %>
<% end %>

<% if @results_data %>
  <% @results_data.each_with_index do |result, i| %>
    <p>--------------</p>
    <p><%= result[:title] %></p>
    <p><%= result[:author] %></p>
    <p><%= result[:page_count] %></p>
    <p><%= image_tag result[:image_link] if result[:image_link].present? %></p>
    <%= link_to "登録", controller: :books, action: :new, class: "btn btn-primary", title: result[:title], author: result[:author], image_link: result[:image_link], page_count: result[:page_count] %>
  <% end %>
<% end %>