<%= link_to 'トップへ戻る', root_path %>

<%= form_with url: books_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit '本の題名を検索' %>
<% end %>
<% if @books.present? %>
  <% @books["items"].each do |item| %>
    <p>---------------</p>
    <p><%= item["volumeInfo"]["title"] %></p>
    <p><%= item["volumeInfo"]["pageCount"] %></p>
    <p><%= image_tag item["volumeInfo"]["imageLinks"]["smallThumbnail"] %></p>
  <% end %>
<% end %>