<div class="header">
  <div class="header__logo">
   <%= link_to image_tag('title.png'), "/" %>
  </div>
  <div class="header__container">
    <div class="container__list">
      <% if user_signed_in? %>
        <%= link_to task_path(first_task.id), class: "list__mypage" do %>
          <div class="icon"><i class="far fa-bookmark"></i></div>
          <div class="text"><span class="for-margin">MY</span>PAGE</div>
        <% end %>
        <a class="list__menu js-link-menu" href="">
          <div class="icon"><i class="fas fa-grip-lines"></i></div>
          <div class="text">MENU</div>
        </a>
        <ul class="submenu">
          <div class="submenu__content">
            <div class="head">
              <span class="text">ACCOUNT</span>
            </div>
            <li class="item">
              <%= link_to "編集", edit_user_registration_path %>
            </li>
            <li class="item last">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
            </li>
          </div>
        </ul>
      <% else %>
        <%= link_to users_guest_sign_in_path, method: :post, class: "list__guest" do %>
          <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
          <div class="text">GUEST</div>
        <% end %>
        <%= link_to new_user_session_path, class: "list__login" do %>
          <div class="icon"><i class="fas fa-grip-lines"></i></div>
          <div class="text">LOGIN</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>