<div class="logout-header">
  <%= link_to 'トップへ戻る', root_path %>
  <% if user_signed_in?%>
    <%= link_to "タスク一覧", tasks_path %>
    <%= link_to "アカウント編集", edit_user_registration_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
  <% else %>
    <span class="login-right">
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    </span>
  <% end %>
</div>
<div class="title-header">
  <span class="title">
    <h2>読書の習慣</h2>
    <p>日々の読書目標を達成しよう！</p>
  </span>
  <span class="search-form">
    新しいタスクを登録する<%= render 'books/form' %>
  </span>
</div>
