<div class="Header">
  <div class="Header__logo">
   <%= link_to image_tag('title.png'), "/" %>
  </div>
  <div class="Header__container">
    <div class="Header__list">
      <% if user_signed_in? %>
        <%= link_to task_path(first_task.id), class: "Header__list-item" do %>
          <div class="Header__icon"><i class="far fa-bookmark"></i></div>
          <div class="Header__text"><span class="Header__for-margin">MY</span>PAGE</div>
        <% end %>
        <a class="Header__list-item js-list-menu" href="">
          <div class="Header__icon"><i class="fas fa-grip-lines"></i></div>
          <div class="Header__text">MENU</div>
        </a>
        <ul class="Header__list-submenu js-list-submenu">
          <div class="Header__head">
            <span class="Header__text-account">ACCOUNT</span>
          </div>
          <li class="Header__head --item">
            <%= link_to "編集", edit_user_registration_path %>
          </li>
          <li class="Header__head --item --last">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
          </li>
        </ul>
      <% else %>
        <%= link_to users_guest_sign_in_path, method: :post, class: "Header__list-item" do %>
          <div class="Header__icon"><i class="fas fa-sign-in-alt"></i></div>
          <div class="Header__text">GUEST</div>
        <% end %>
        <%= link_to new_user_session_path, class: "Header__list-item" do %>
          <div class="Header__icon"><i class="fas fa-grip-lines"></i></div>
          <div class="Header__text">LOGIN</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>